.clock {
  position: fixed;
  top: 12px;
  left: 0;
  text-align: center;
  padding: 4px 8px;
  border: 1px solid;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: white;
  z-index: 2;
  font-size: var(--small-font);
}
